<main>
    <section class="hero">
        <div class="hero-content">
            <span>😎 SIMPLE WAY TO COMMUNICATE</span>
            <h1>Actions for Accessibility in Design</h1>
            <p>The fastest way to build and deploy websites with reusable components.</p>
            <div class="hero-btns">
                <button class="btn-gs">GET STARTED</button>
                <button class="btn-gld">GET LIVE DEMO</button>
            </div>
            <div class="check">
                <span><img src="/assets/Done_ring_round_fill.svg" alt="Check icon">No credit card required</span>
                <span><img src="/assets/Done_ring_round_fill.svg" alt="Check icon">No software to install</span>
            </div>
        </div>
        <div class="hero-img">
            <img src="assets/hero-image-simple-homepage.png" alt="Hero Image" class="hero-image" />
        </div>
        
    </section>
</main>
